svg {
    width: 100%;
    height: 100%;
}

.map {
    width: 900px;
    height: 900px;
}

.other {
    fill: lightgray;
}

path {
    fill: lightgrey;
    stroke: red;
    stroke-width: 0.2;
}



a > * {
    pointer-events: all;
}

a path {
    fill: black;
}

a:hover path {
    fill: rgb(0,175,173);
    cursor: pointer;
}

