* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.map {
    display: inline-block;
      height: 100%;
      width: auto;
}

svg {
    width: 100%;
    height: auto;
}



.other {
    fill: lightgray;
}

path {
    fill: lightgrey;
    stroke: white;
    stroke-width: 0.4; 
}



a > * {
    pointer-events: all;
}

a path {
    fill: darkgrey;
}



a:hover path {
    fill: rgb(0,175,173);
    cursor: pointer;
}

